<ion-view view-title="Product Info">
  <ion-nav-buttons>
    <div class="bar bar-header">
      <button class="button button-icon ion-chevron-left active" ng-click="goToList()">
      </button>
      <div class="smaller">Back to <br> My List</div>
    </div>
  </ion-nav-buttons>
  <ion-content class="padding mt-5">
    <h5><strong>{{product.desc}}</strong></h5>

    <div class="row mt-5">
      <div class="col-25">
        <img ng-src="{{product.pictUrl}}" style="width: 128px; height: 128px">
      </div>
      <div class="col-75 col-offset-10">
        <div class="row">
          <div class="col-50 col-bottom col-offset-10">
            <div class="fixed-color">Current Price</div>
            <div class="fixed-color price">{{product.price}} {{product.currency}}</div>
          </div>
          <img ng-src="{{product.retailerLogo}}" style="width: 60px; height: 60px">
        </div>

        <div class="col col-offset-10 mt-5" >
          <div>Product Code: {{product.productSku}}</div>
          <div>Color : {{product.color}}</div>
          <div>Size : {{product.size}}</div>
        </div>
      </div>
    </div>
    <div ng-if="showDescription">
      <p class="mt-5">{{product.featureText}}</p>
    </div>

    <div ng-if="showMakeDeal">
      <div class="row mt-5">
        <div class="col text-center">
          <button ng-click="makeDeal()" class="button button-icon toggle text-center request-button fixed-color"> Make a Shopping Request </button>
        </div>
      </div>
    </div>

    <div ng-if="showForm">
      <div class="row mt-5">
        <div class="col-40">
          <span class="input-label">Preffered Price</span>
          <label class="item item-input">
            <input type="number" ng-model="preferredPrice">
          </label>
        </div>
        <div class="col-10 fixed-color"> or</div>
        <div class="col-50">
          <span class="input-label"> Preffered Discount</span>
          <label class="item item-input" ng-model="preferredDiscount">
            <input type="number">
          </label>
        </div>
      </div>
      <div class="col-40 mt-5">
        <span class="input-label"> Expiry date</span>
        <label class="item item-input" style="width: 162px;
">
          <input type="date">
        </label>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <button ng-click="saveRequest()" class="button button-icon toggle text-center request-button fixed-color"> Submit request </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>