<ion-view view-title="Product Info">
  <ion-nav-buttons>
    <div class="bar bar-header">
      <button class="button button-icon icon ion-chevron-left active" ng-click="goToList()">
      </button>
      <div class="smaller">Back to <br> My List</div>
    </div>
  </ion-nav-buttons>
  <ion-content class="padding mt-5">
    <h5><strong>{{product.title}}</strong></h5>

    <div class="row mt-5" >
      <div class="col-25">
        <img ng-src="{{product.image}}" style="width: 128px; height: 128px">
      </div>
      <div class="col-75 col-offset-10">
        <div class="row">
          <div class="col-50 col-offset-10">
            <div class="fixed-color">Current Price</div>
            <div class="fixed-color price">{{product.price}} C$</div>
          </div>
          <img ng-src="{{product.store.image}}" style="width: 28px; height: 28px">
        </div>

        <div class="col col-offset-10 mt-5" >
          <div>product code: {{product.uid}}</div>
          <div>color : blue</div>
          <div>size : 7</div>
        </div>
      </div>
    </div>
    <div ng-hide="showForm">
      <p class="mt-5">{{product.description}}</p>
      <div class="row mt-5">
        <div class="col text-center">
          <button ng-click="showForm=!showForm" class="button button-icon toggle text-center request-button fixed-color"> Make a Shopping Request </button>
        </div>
      </div>
    </div>

    <div ng-show="showForm">
      <div class="row mt-5">
        <div class="col-40">
          <span class="input-label">Preffered Price</span>
          <label class="item item-input">
            <input type="number">
          </label>
        </div>
        <div class="col-10 fixed-color"> or</div>
        <div class="col-40">
          <span class="input-label"> Preffered Discount</span>
          <label class="item item-input">
            <input type="number">
          </label>
        </div>
      </div>
      <div class="col-40">
        <span class="input-label"> Expiry date</span>
        <label class="item item-input">
          <input type="date">
        </label>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <button ng-click="showForm=!showForm" class="button button-icon toggle text-center request-button fixed-color"> Submit request </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>