<ion-view view-title="">
  <ion-nav-buttons>
    <button class="button button-icon icon ion-ios-plus-outline active" ng-click="readBarcode()">
    </button>
    <div class="bar bar-header">
      <div class="title">
        <input id="toggle-on" class="toggle toggle-left" name="toggle" type="radio" ng-click="changeView(true)" type="radio" ng-checked="view">
        <label for="toggle-on" id="toggle-on" class="switch-label">Waiting</label>
        <input id="toggle-off" class="toggle toggle-right" name="toggle" ng-click="changeView(false)" type="radio" ng-checked="notView">
        <label for="toggle-off" id="toggle-off" class="switch-label">Closed</label>
      </div>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right row" ng-repeat="item in list" type="item-text-wrap" style="padding: %1;">
        <div class="col-20">
          <img ng-src="{{item.pictUrl}}" style="width: 60px; height: 60px;">
        </div>
        <div class="col-60">
          <p>{{item.retailerName}}</p>
          <p>{{item.desc}}</p>
          <p>{{item.productSku}}</p>
        </div>
        <div class="col-20">
          <p>{{item.price}} {{item.currency}}</p>
          <div class="row">
             <div class="col text-center">
                <div class="ion-ios-pricetags" style="color: {{item.status.color}};"></div>
             </div>
          </div>
          <!-- <div class="row"> -->
            <!-- <div class="col-50"></div> -->
            <!-- <div class="ion-ios-pricetags" style="color: {{item.status.color}};"></div> -->
          <!-- </div> -->
          <p>{{item.expectedPrice}} {{item.currency}}</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
