<ion-view view-title="">
	<ion-nav-buttons>
		<div class="bar bar-header">
			<div class="title">
				<button id="toggle-on" class="toggle" ng-class="listSelected" ng-click="changeView('list')" name="toggle">List</button>
				<button id="toggle-off" class="toggle" ng-class="mapSelected" ng-click="changeView('map')" name="toggle">Map</button>
			</div>
		</div>
	</ion-nav-buttons>
	<ion-content>
		<ion-list ng-if="clientSide == 'list'">
			<ion-item class="item-remove-animate item-avatar item-icon-right row smaller" ng-repeat="store in stores" ng-click="select($index)" ng-class="{sel: $index == selected}" type="item-text-wrap" style="padding: %1;">
				<div class="col-25">
					<img ng-src="{{store.brand_logo_url}}" style="width: 60px; height: 60px;">
				</div>
				<div class="col-50">
					<div>{{store.address.street}}</div>
					<div>{{store.address.unitno}}</div>
					<div>{{store.address.city}}, {{store.address.state}} {{store.address.post_code}}</div>
					<div>Tel: {{store.phone}}</div>
				</div>
				<div class="col-25">
					<div class="row">
						<div class="col-40"></div>
						<p style="float: right;" class="col-60">{{store.distance}} Km</p>
					</div>
				</div>
			</ion-item>
		</ion-list>
		<div ng-if="clientSide == 'map'">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
				<ui-gmap-markers models="markers" coords="'location'" click="showInfo" icon="'icon'"></ui-gmap-markers>
				<ui-gmap-window coords="infoBusiness.location" show="infoVisible" closeClick="hideInfo()" options="windowOptions">
				</ui-gmap-window>
			</ui-gmap-google-map>
		</div>
	</ion-content>
</ion-view>
